.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: auto;
}

.record {
  margin: 2%;
  padding: 1%;
  width: 250px;
  height: 250px;
  border: black solid 1px;
  overflow: hidden;
}
