body {
  width: auto;
  background-color: burlywood;
}

.record-grid {
  padding: 1%;
  background-color: burlywood;
  width: auto;
  position: absolute;
  top: 22%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: auto;
  grid-gap: 1%;
}

.record-prev-container {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

.record-prev {
  background-color: hsl(40, 100%, 97%);
  margin: auto;
  position: fixed;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;

}

.record-prev img {
  height: 350px;
}
.record-prev p {
  margin: 0;
}

.message-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 4rem;
}

.error {
  font-size: 2rem;
  background-color: blanchedalmond;
  border: black 1px solid;
  box-shadow: 5px 5px 15px 5px #000000;
}

.record {
  padding: 1%;
  width: 100%;
  height: auto;
  border: black solid 1px;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.album-info {
  background-color: hsl(40, 100%, 97%, 0.6);
  height: 250px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .record-grid {
    top: 11%;
    grid-template-columns: repeat(3, 1fr);
  }

  .album-info {
    height: 100px;
    width: auto;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.5rem;
  }
}